name: Publish Image

on:
  push:
    branches: ["master"]
    paths-ignore:
      - ".gitignore"
      - "README.md"
      - ".vscode/**"
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - uses: actions/cache@v4
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm install

      - name: Build
        run: npm run build

      - name: Build and push Docker image
        run: |
          docker build . --file Dockerfile --tag ghcr.io/${{ github.repository_owner }}/0mainpage:latest
          docker push ghcr.io/${{ github.repository_owner }}/0mainpage:latest

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: ${{ secrets.SERVER_PORT || '22' }}
          timeout: 30s
          command_timeout: 10m
          debug: true
          script: |
            docker stop mainpage-nginx || true
            docker rm mainpage-nginx || true
            docker login -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }} https://ghcr.io
            docker pull ghcr.io/${{ github.repository_owner }}/0mainpage:latest
            docker run -dp 80:80 --restart=always --name mainpage-nginx ghcr.io/${{ github.repository_owner }}/0mainpage:latest
